*{
	box-sizing: border-box;
}

/* CUDA */

.container{
	display: inline;
}

header nav{
	float: right;
	margin-top: 30px;
}

header nav a{
	color:white;
	text-decoration: none;
	font-weight: bold;
	margin-left: 10px;
	padding: 30px 30px;
}

#presentation{
	background-color: #CC1FD7;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10%;
}

#presentation h1{
	font-family: 'Lobster', cursive;
	font-size: 73px;
	text-align: left;
	color:white; 
}

#presentation p{
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	text-align: center;
	color:white; 
}

#presentation .btn {
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	text-align: center;
	color:white; 
	margin-top:20px;
	padding: 20px;
}

/* Final CUDA */

/*Comienzo Servicios */

#acerca {
	background-color: #05D49B;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.box{
	display: inline-block;
	text-align: center;
	width: 33%;
	padding: 20px;
}

.box img {
	width: 85%;
	padding: 40px;

}

#acerca h2{
	padding: 30px;
	color:black;
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 40px;
}

#acerca p {
	color:white;
	font-size: 15px;
	font-weight: bold;
}

#acerca h3{
	color:white;
	font-weight: bold;
}
/*Final Servicios */

/* Comienzo equipo de trabajo*/

#trabajo {
	background-color: #C9D3D0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#trabajo h2{
	font-family: 'Anton', sans-serif;
	padding: 30px;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
}
.team{
	display: inline-block;
	text-align: center;
	width: 33%;
	padding: 10px;
	margin-left: 450px;
}

.team img {
	width: 70%;
}

.team h3{
	padding: 20px;
	color:white;
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 40px;
}

.team p {
	color:white;
	font-size: 18px;
	margin-bottom: 20px;
}

}
	
/*Comienzo Trabajos*/

#tecnologia {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.tecnology{
	display: inline-block;
	text-align: center;
	width: 24%;
	padding: 20px;
}

.tecnology img {
	width: 100%;
	padding: 40px;

}

#tecnologia h2{
	padding: 30px;
	color:black;
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 50px;
}

.tecnology h3{
	font-family: 'Merriweather', serif;
	color:#F3911B;
	font-weight: bold;
	font-size: 35px;
	padding: 50px;
}
/*Final Trabajos*/

/*Comienzo Contacto*/
#contacto{
	background-color: #3E34A0;
}

.nameil input{
	border-radius: 8px;
	padding: 15px 20px;
	background: #11076F;

}

.nameil {
	margin-left: 400px;
	padding: 30px;
}

#message{
	padding: 80px 150px;
	border-radius: 10px;
	margin-left: 410px;
	background: #11076F;
}

#contacto h2{
	font-size: 40px;
	font-weight: bold;
	color: white;
	padding: 40px;
	text-align: center;
}

#contacto p{
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	color: white;
	padding: 30px;
}

#contacto button{
	border-radius: 5px;
	margin-top: 20px;
	padding: 15px 70px;
	font-size: 15px;
	color: blue;
	text-align: center;
	font-weight: bold;
	margin-left: 550px;
	margin-bottom: 30px;
	background-color: #897EF6;
}
/*Final Contacto*/

/*Comienzo Footer*/

footer{
	background: #88B9F1;
	padding: 50px;
}

footer ul a{
	color: white;
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	margin-left: 200px;
	text-align: center;
	list-style: none;
}
/*Comienzo Footer*/